<form [formGroup]="mainForm" (ngSubmit)="processData(mainForm.value)">


    <div *ngIf="showForm()" formArrayName='tweetsArray'>
        <div *ngFor="let v of tweets;let j = index;">
            <div [formGroupName]="j">
                <table>
                    <tr>

                        <td> @{{v.userId}}
                           
                        </td>
                    </tr>
                    <tr>

                        <td>
                                {{v.content}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <img src='{{v.imageUrl}}' alt="image">
                        </td>
                    </tr>
                    <td>
                        <tr>
                            <td>
                                    Likes:{{v.likes}}
                                    <img src="assets/images/like.jpg" (click) ="likeTweet(v)"/>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                    Reply:
                                    <label *ngFor = "let r of v.replies;">{{r}}</label>
                                    <input type="text" formControlName="replies">
                            </td>

                        </tr>

                </table>
                
            </div>

        </div>
    </div>
</form>