
<form [formGroup]="mainForm" (ngSubmit)="processData(mainForm.value)">

   
<div *ngIf="showForm()" formArrayName='tweetsArray'>
    <div  *ngFor = "let v of tweets;let j = index;">
        <div [formGroupName]="j">
    <table >
        <tr>
         
            <td> Name:<label>

                    <input type="text" formControlName="tweetId">
                </label></td>
        </tr>



        <tr>

            <td>
                <label>
                    Tweet Content:
                    <input type="text" formControlName="content">
                </label>
            </td>

        </tr>
        <tr>
            <td><label>
                    Image:
                    <input type="text" formControlName="imageUrl">
                </label></td>
        </tr>
        <td>
            <tr>
                <td>
                    <label>
                        Likes:
                        <input type="text" formControlName="likes">
                    </label>
                </td>

            </tr>
            <tr>
                <td>
                    <label>
                        Reply:
                        <input type="text" formControlName="replies">
                    </label>
                </td>

            </tr>

    </table>
    <button type="submit">Tweet</button>
</div>

</div>
</div> 
</form>




  
   