
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/mainpage']" >Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/tweetpage']">Tweet</a>
    </li> -->
    
    <li *ngIf = "!isSiggnedIn()" class="nav-item">
      <a class="nav-link"  [routerLink]="['/signin']">Sign In</a>
    </li>
    <li *ngIf = "isSiggnedIn()" class="nav-item">
      <a class="nav-link disabled" (click)="signout()" [routerLink]="['/signin']">Signout</a>
    </li> 
  </ul>
<router-outlet></router-outlet> 