
<form [formGroup]="mainForm" (ngSubmit)="processData(mainForm)">
    <div *ngIf="showForm()">
        <table>
            <tr>

                <td>User:<label>
                    </label></td>
            </tr>
          
            <td>
                <tr>
                    <td>
                        <label>
                            
                            <img  src='assets/images/{{data.profileImage}}' alt="image">
                            {{data.name}}(@{{currentUser}})

                        </label>
                    </td>

                </tr>
        </table>
        <br><br>
        <a (click) = "getFeeds()"   [routerLink]="">Back to Feeds:</a>
        <br><br>AvailableUsers:<br>
                <div *ngIf="showUsersInfo()">
       
          <div *ngFor="let user of availableUsers;">
                <a (click) = "getTweets(user)"   [routerLink]="">{{user}}</a>
                ===><a (click) = "addFollowing(user)"   [routerLink]="">Follow</a>
          </div>
          </div>

          <br><br>TweetsFrom your Feed:<br><br>
        <div *ngIf='showTweetsContent()'>
           
            <app-tweet [tweets]='tweets.slice().reverse()' (onUserClicked)="getTweets($event.value)" (onNewTweet)="getFeeds()"> </app-tweet>
        </div>
    </div>
</form>